<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.api.app.mapper.TradeLogMapper">
    <select id="selectAirdropLine" resultType="Map">
        SELECT
            tu.cnt 'count',
            tu.dt 'date',
            ifnull(amount,0) 'amount'
        FROM
            (
        SELECT
            Date_format( u.create_date, '%Y-%m-%d' ) AS dt,
            COUNT( u.create_date ) cnt
        FROM
            t_user u
        WHERE
            ( u.is_enable = 1 )
        GROUP BY
            Date_format( u.create_date, '%Y-%m-%d' )
            ) tu
            LEFT JOIN ( SELECT Date_format( create_date, '%Y-%m-%d' ) AS dt,
                        sum( amount ) amount
                        FROM t_trade_log
                        GROUP BY Date_format( create_date, '%Y-%m-%d' ) ) tl ON tu.dt = tl.dt
    </select>

    <select id="selectPageByUserid" resultType="com.kk.api.app.entity.vo.TradeLogVO">
        SELECT
            tl.id,
            tl.amount,
            IFNULL( u1.username, "okboss" ) fromUsername,
            IFNULL( u1.address, "okboss" ) fromAddress,
            IFNULL( u2.username, "okboss" ) toUsername,
            IFNULL( u2.address, "okboss" ) toAddress,
            CASE tl.trade_type
            WHEN 1 THEN if(tl.to_user_id = #{userId},"转入","转出")
            WHEN 2 THEN "充值"
            WHEN 3 THEN "空投奖励"
            WHEN 4 THEN "一级奖励"
            WHEN 5 THEN "二级奖励"
            END tradeType,
            tl.trade_type tradeTypeId,
            tl.create_date,
            tl.remark
        FROM
            t_trade_log tl
            LEFT JOIN t_user u1 ON u1.id = tl.from_user_id
            LEFT JOIN t_user u2 ON u2.id = tl.to_user_id
        WHERE
            tl.to_user_id = #{userId}
            OR tl.from_user_id = #{userId}
        ORDER BY tl.create_date DESC
    </select>

    <select id="selectVOById" resultType="com.kk.api.app.entity.vo.TradeLogVO">
        SELECT
            tl.id,
            tl.amount,
            IFNULL( u1.username, "okboss" ) fromUsername,
            IFNULL( u1.address, "okboss" ) fromAddress,
            IFNULL( u2.username, "okboss" ) toUsername,
            IFNULL( u2.address, "okboss" ) toAddress,
            CASE tl.trade_type
            WHEN 1 THEN if(tl.to_user_id = #{userId},"转入","转出")
            WHEN 2 THEN "充值"
            WHEN 3 THEN "空投奖励"
            WHEN 4 THEN "一级奖励"
            WHEN 5 THEN "二级奖励"
            END tradeType,
            tl.trade_type tradeTypeId,
            tl.create_date,
            tl.remark
        FROM
            t_trade_log tl
            LEFT JOIN t_user u1 ON u1.id = tl.from_user_id
            LEFT JOIN t_user u2 ON u2.id = tl.to_user_id
        WHERE
            tl.id = #{id}
        ORDER BY tl.create_date DESC
    </select>

    <select id="pageList" resultType="com.kk.api.app.entity.vo.TradeLogVO">
        SELECT
            tl.id,
            tl.amount,
            IFNULL( u1.username, "okboss" ) fromUsername,
            IFNULL( u2.username, "okboss" ) toUsername,
            tl.trade_type tradeTypeId,
            tl.create_date,
            tl.remark,
            tl.coin_type
        FROM
            t_trade_log tl
            LEFT JOIN t_user u1 ON u1.id = tl.from_user_id
            LEFT JOIN t_user u2 ON u2.id = tl.to_user_id
        <where>
            <if test="param.toUsername != null and param.toUsername != ''">
                and tl.to_user_id = (select id from t_user where username = #{param.toUsername})
            </if>
            <if test="param.fromUsername != null and param.fromUsername != ''">
                and tl.from_user_id = (select id from t_user where username = #{param.fromUsername})
            </if>
            <if test="param.coinType != null and param.coinType != ''">
                and tl.coin_type = #{param.coinType}
            </if>
            <if test="param.tradeTypeId != null and param.tradeTypeId != ''">
                and tl.trade_type = #{param.tradeTypeId,jdbcType=NUMERIC}
            </if>
            <if test="param.begin != null and param.begin != ''">
                and tl.create_date &gt;= #{param.begin}
            </if>
            <if test="param.end != null and param.end != ''">
                and tl.create_date &lt;= #{param.end}
            </if>
        </where>
        ORDER BY tl.create_date DESC
    </select>
</mapper>
