<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.api.app.mapper.UserMapper">

    <select id="pageList" resultType="com.kk.api.app.entity.vo.UserVO">
        SELECT
            u1.id,
            u1.username,
            u1.asset,
            u1.l1_reward,
            u1.l2_reward,
            u1.is_enable status,
            case u1.is_enable
            when 1 then "正常"
            when 0 then "锁定"
            end statusStr,
            u1.create_date,
            IFNULL( u2.username, "直接注册" ) origin
        FROM
            t_user u1
        LEFT JOIN t_user u2 ON u1.pid = u2.id
        <where>
            <if test="param.status != null and param.status != ''">
                and u1.is_enable = #{param.status,jdbcType=NUMERIC}
            </if>
            <if test="param.origin != null and param.origin != '' and param.origin != '0'">
                and u1.pid = (select id from t_user where username = #{param.origin})
            </if>
            <if test="param.origin != null and param.origin != '' and param.origin == '0'">
                and u1.pid = #{param.origin}
            </if>
            <if test="param.username != null and param.username != ''">
                and u1.username = #{param.username}
            </if>
        </where>
        <if test="param.orderCol == null or param.orderCol == ''">
            ORDER BY u1.create_date DESC
        </if>
        <if test="param.orderCol != null and param.orderCol != '' and param.orderBy != null and param.orderBy != ''">
            ORDER BY u1.${param.orderCol} ${param.orderBy}
        </if>
    </select>

    <select id="list" resultType="com.kk.api.app.entity.vo.UserVO">
        SELECT
        u1.id,
        u1.username,
        u1.asset,
        u1.l1_reward,
        u1.l2_reward,
        u1.is_enable status,
        case u1.is_enable
        when 1 then "正常"
        when 0 then "锁定"
        end statusStr,
        u1.create_date,
        IFNULL( u2.username, "直接注册" ) origin
        FROM
        t_user u1
        LEFT JOIN t_user u2 ON u1.pid = u2.id
        <where>
            <if test="param.status != null and param.status != ''">
                and u1.is_enable = #{param.status,jdbcType=NUMERIC}
            </if>
            <if test="param.origin != null and param.origin != '' and param.origin != '0'">
                and u1.pid = (select id from t_user where username = #{param.origin})
            </if>
            <if test="param.origin != null and param.origin != '' and param.origin == '0'">
                and u1.pid = #{param.origin}
            </if>
            <if test="param.username != null and param.username != ''">
                and u1.username = #{param.username}
            </if>
        </where>
        ORDER BY u1.create_date DESC
    </select>
</mapper>
